// ============================================================
// VARIABLES
// ============================================================

// COLORS
// ============================================================

$black: #222;
$grey: #696969;
$light-grey: invert(#696969);
$faint-grey: #DDDDDD;
$blue: #3D7DCA;
$blue-light: saturate(lighten($blue, 5%), 10%);
$blue-dark: saturate(darken($blue, 5%), 10%);


// COMPASS DEFAULTS
// ============================================================

$default-transition-duration: 200ms;

// SIZES
// ============================================================

$pxs: 8px;
$ps: 12px;
$pm: 16px;
$pl: 22px;
$pxl: 28px;
$pxxl: 42px;

$page-max-width: 900px;
$margins: $pm 0;

// LOGO
// ============================================================

$logo-image: "mg.png";
$logo-width: floor(image-width($logo-image) / 2);
$logo-height: floor(image-height($logo-image) / 2);
