body{
  width:80%;margin:auto;
  font-family: 'Roboto', sans-serif;
  color: #111111;
  background:url(../img/bg.png) center center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {color: #0074D9;}
a:active, a:hover {color: #B10DC9;}
/*a:visited {color: #85144B;}*/

* { box-sizing:border-box; }

.container { 
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
  height: 400px;
}
h2 { 
  text-align:center; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

label {
font-size: 13px;
color: #3c5170;
font-weight: 600;
text-transform: uppercase;
display: inline-block;
margin-top: 25px;
margin-bottom: 10px
}

#tel {
  padding: 15px 0 14px 55px;
  width: 431px;
  height: 50px;
  border: 1px solid #d3dce5;
  border-radius: 3px 0 0 3px;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  color: #3b527b;
  float: left;
}

input {
  padding: 15px 0 14px 0;
  width: 431px;
  height: 50px;
  border: 1px solid #d3dce5;
  border-radius: 3px 3px 3px 3px;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  color: #3b527b;
  float: left;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

input {
  padding-left: 5px;
}

input#auth {
  width: 155px;
}

.btn-primary {
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0c7cd5;
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary .badge {
  color: #2196f3;
  background-color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}




