{% extends "layout.html" %}
{% block title %}Careers{% endblock %}
{% block body %}

<div class="careers-hero"></div>

<div class="content-layout">
	<h2>Careers</h2>
	<p>A cheesey slogan that sounds corporate but is also a subtle jab at the storyline to come.</p>
	<p>We are currently accepting applications of interest for the following positions:</p>

	<ul class="block">
		<li><a href="/careers/job-2342/">Junior System Administrator</a></li>
		<li><span>Team Assistant (Closed)</span></li>
		<li><span>Finance Forensic Technician (Closed)</span></li>
	</ul>
</div>
{% endblock %}
