{% extends "layout.html" %}
{% block title %}Careers{% endblock %}
{% block body %}

<div class="careers-hero"></div>

<div class="content-layout">
	<h2 class="tc">Challenging work with great people</h2>
	<p class="tc">A cheesey slogan that sounds corporate but is also a subtle jab at the storyline to come. Doloribus ad, cumque eaque fugiat. Expedita culpa illo sunt, repellat sint quam eaque, recusandae, mollitia accusantium, vitae perferendis. Earum, modi dicta consequatur.</p>

	<div class="careers-set cf">
		<img src="/static/img/set1.jpg" alt="" aria-hidden="true">
		<img src="/static/img/set2.jpg" alt="" aria-hidden="true">
		<img src="/static/img/set3.jpg" alt="" aria-hidden="true">
	</div>

	<div class="career-perks">
		<h3>Career perks</h3>
		<ul class="cf">
			<li>
				<h4>Heading</h4>
				<p>Repudiandae aliquam non libero odit ut quia, commodi accusamus. Sunt neque distinctio voluptates, itaque odit aspernatur minima!</p>
			</li>
			<li>
				<h4>Heading</h4>
				<p>Sapiente ratione et quaerat fuga id tenetur! Earum nemo doloremque sunt ab aspernatur accusamus, sapiente, deleniti ullam.</p>
			</li>
			<li>
				<h4>Heading</h4>
				<p>Quas ab, perferendis saepe, voluptas dolores hic? Laborum, neque eius iste similique, minima sunt corporis recusandae. Id?</p>
			</li>
			<li>
				<h4>Heading</h4>
				<p>Sapiente itaque harum ex mollitia necessitatibus reiciendis modi? Sed cumque amet non ut, fugiat minima magni sit.</p>
			</li>
		</ul>
	</div>

	<div class="careers-join">
		<h3>Join the Mercury team</h3>
		<p>We are currently accepting applications of interest for the following positions:</p>
		<ul class="block">
			<li><a href="/careers/job-2342/">Junior System Administrator</a></li>
			<li><span>Team Assistant (Closed)</span></li>
			<li><span>Finance Forensic Technician (Closed)</span></li>
		</ul>
	</div>

</div>
{% endblock %}
