{% extends "layout.html" %}

{% macro with_errors(field) %}
    <div class="field">
	{{ field.label }}
    {% if field.errors %}
    	{% set css_class = 'has-error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
        <ul class="errors">
        	{% for error in field.errors %}
        	<li>{{ error|e }}</li>
        	{% endfor %}
        </ul>
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}

{% block title %}Careers{% endblock %}
{% block body %}
	<h2>Careers</h2>
	<form action="/careers/job-2342/apply/" method="POST">
		<h3>New Application: Junior System Administrator</h3>
		<div class="group cf">
			{{ with_errors(form.first_name) }}
			{{ with_errors(form.last_name) }}
			{{ with_errors(form.email) }}
			{{ with_errors(form.mobile_number) }}
		</div>

		<div class="group cf">
			{{ with_errors(form.why_work) }}
			{{ with_errors(form.work_history) }}
			<div class="field">
				{{ form.team_work.label }}
				<!--<p>I prefer to work:</p>-->
				<div class="input-group">{{ form.team_work }}</div>
			</div>
			<div class="field">
				{{ form.ambitious.label }}
				<div class="input-group">{{ form.ambitious }}</div>
			</div>
		</div>

		<div class="group cf">
      <div class="field">
				{{ form.leaving.label }}
				<!--<p>I'm seeking new employment because of:</p>-->
				<div class="input-group">{{ form.leaving }}</div>
			</div>
			{{ with_errors(form.animal) }}
		</div>
		<div class="group cf">
			{{ with_errors(form.resume) }}
		</div>
		<div class="group cf">
			<div class="field future-employment">
				{{ form.future_employment }}{{ form.future_employment.label }}
			</div>
		</div>

		{{ form.tz }}

		<div class="button-group">
			<button type="submit" >Submit</button>
		</div>
	</form>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
<script src="{{url_for('static', filename='js/intlTelInput.min.js') }}"></script>
<script src="{{url_for('static', filename='js/signup1.js') }}"></script>
{% endblock %}
