<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sign up Auth Error | NPC360</title>
  <meta name="description" content="Enter your name, phone number, and timezone to sign up for NPC360.">
  <meta name="author" content="NPC 360">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,400italic,500|Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{url_for('static', filename='css/signup.css') }}">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <h2>Sign up for NPC 360: ERROR</h2>
  <p>{{ name }}, the code you entered wasn't correct, let's try this again:</p>

  <form method="POST" action="/signup3">
    <input id="auth" name="auth" type="number" placeholder="0000" required>

    <input id="uid" name="uid" type="text" value="{{uid}}" hidden>
    <input id="fname" name="fname" type="text" value="{{name}}" hidden>
    <input id="tel" name="tel" type="tel" value="{{tel}}" hidden>
    <input id="tz" name="tz" type="text" value="{{tz}}" hidden>

    <input id="submit" type="submit">
  </form>

  <p><a href="/signup">Need a new code?</a></p>

  <!-- JaVAVAVAVAVa -->
  <!--<script src="{{url_for('static', filename='js/signup2.js') }}"></script>-->

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
</body>
</html>
