{% extends "layout.html" %}
{% block title %}Careers{% endblock %}
{% block body %}
<form id="signupForm" action="/careers/" method="POST">
	<p>Your phone number or email address is already registered to a different player.</p>
	{% include 'partials/personal-details.html' %}

	<p id="tel-invalid" class="hide val">Invalid phone number</p>
	<p id="email-exists" class="hide val">Email already registered</p>
	<p id="tel-exists" class="hide val">Phone already registered</p>

	<input id="submit" class="btn-primary" type="submit" value="Continue">
</form>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
<script src="{{url_for('static', filename='js/intlTelInput.min.js') }}"></script>
<script src="{{url_for('static', filename='js/signup1.js') }}"></script>
{% endblock %}
