<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Complete sign up | NPC360</title>
  <meta name="description" content="Enter your name, phone number, and timezone to sign up for NPC360.">
  <meta name="author" content="NPC 360">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,400italic,500|Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{url_for('static', filename='css/signup.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
  <!--<link rel="stylesheet" href="../static/css/style.css">-->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>


<div class="container">

  <h2>Complete signup</h2>

  <p style="margin-bottom: 45px;">Ok {{ name }}, we're going to text you a 4 digit authorization code. Please enter it below:</p>

  <form method="POST" action="/signup">


  <label>4 digit code</label>

  <div>
      <input id="auth" name="auth" type="number" min="1000" max="9999" oninput="maxLengthCheck(this)" maxlength="4" required>
  </div>

    <input id="uid" class="hiddeninput" name="uid" type="text" value="{{uid}}" hidden>
    <input id="fname" class="hiddeninput" name="fname" type="text" value="{{name}}" hidden>
    <input id="tel" class="hiddeninput" name="tel" type="tel" value="{{tel}}" hidden>
    <input id="tz" class="hiddeninput" name="tz" type="text" value="{{tz}}" hidden>

    <input id="submit" class="btn-primary" type="submit" value="Complete signup">


  </form>

</div>
  <!-- JaVAVAVAVAVa -->
  <!--<script src="{{url_for('static', filename='js/signup2.js') }}"></script>-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript">
  $('#auth').on('keypress', function(ev) {
    var keyCode = window.event ? ev.keyCode : ev.which;
    //codes for 0-9
    if (keyCode < 48 || keyCode > 57) {
      //codes for backspace, delete, enter
      if (keyCode != 0 && keyCode != 8 && keyCode != 13 && !ev.ctrlKey) {
        ev.preventDefault();
      }
    }
  });
  </script>

  <!-- additional max length of 4 check-->
  <script>
  function maxLengthCheck(object)
  {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
    }
  </script>

</body>
</html>
