<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sign up succesful | NPC360</title>
  <meta name="description" content="Enter your name, phone number, and timezone to sign up for NPC360.">
  <meta name="author" content="NPC 360">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,400italic,500|Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
  <!--<link rel="stylesheet" href="../static/css/style.css">-->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>


  <div class="container">

    <h2>Ok {{ name }}, you'll hear from us soon!</h2>

  </div>
  <!-- JaVAVAVAVAVa -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>
