{% extends "layout.html" %}
{% block title %}Careers{% endblock %}
{% block body %}
	<h2>Careers</h2>
	<p>A cheesey slogan that sounds corporate but is also a subtle jab at the storyline to come.</p>
	<p>We are currently accepting applications of interest for the following positions:</p>

	<ul class="block">
		<li><a href="#">Junior System Administrator</a></li>
		<li><span>Team Assistant (Closed)</span></li>
		<li><span>Finance Forensic Technician (Closed)</span></li>
	</ul>

	{% include 'partials/position-description.html' %}
	{% include 'partials/register-form.html' %}
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
<script src="{{url_for('static', filename='js/intlTelInput.min.js') }}"></script>
<script src="{{url_for('static', filename='js/signup1.js') }}"></script>
{% endblock %}
