<div class="group three-columns cf">
	<div class="field">
		<label for="fname">First Name*</label>
		<input type="text" class="form-control" id="fname" name="fname" required>
	</div>
	<div class="field">
		<label for="lname">Last Name*</label>
		<input type="text" class="form-control" id="lname" name="lname" required>
	</div>
	<div class="field">
		<label for="email">Email*</label>
		<input type="email" class="form-control" id="email" name="email" required>
	</div>
	<div class="field">
		<label for="tel">Mobile Number*</label>
		<input type="tel" class="form-control" id="tel" value="+61 " name="tel" required>
	</div>
</div>

<input id="tz" type="hidden" name="tz">
