<div class="position-description">
	<!--
		Already browsing through the source code?
		Flick us an email at EMAIL@mercurygroup.com to let us know you
		found this message, it will serve well on your application
	-->
	<h3>Junior System Administrator</h3>
	<ul>
		<li>Full Time</li>
		<li>Generous Benefits</li>
		<li>Great Experience</li>
		<li>Global branches</li>
	</ul>
	<p>The role will be responsible for ensuring the efficient implementations/installations, maintenance and operations of all IT functions, with the assistance of vendor/service partners and under the direction of the IT Manager to ensure it is aligned to business objectives and strategy of the organisation. The key function of this role is to ensure business users have connectivity, providing operational support for server technologies and general system administration.</p>
	<p>To be successful in the role you must have:</p>
	<ul>
		<li>4 years' experience in a Level 2 Desktop Support role</li>
		<li>Experience in supporting and resolving minor hardware and networking issues</li>
		<li>Working experience of VMware (VSphere, VCentrem, ESXi)</li>
		<li>Solid troubleshooting skills</li>
		<li>Experience in liaising and managing third party vendors</li>
		<li>Exposure to network and data security management and monitoring</li>
		<li>Deep knowledge and experience Microsoft Window Server/Desktop administration</li>
		<li>Excellent documentation and problem solving skills.</li>
		<li>Strong communication and business engagement skills.</li>
		<li>Must be Microsoft Certified, MCP, MCSE, MCSA, MTA etc</li>
		<li>This is an excellent time to join this organisation growing from strength to strength and contribute your knowledge and have the opportunity to expand your technical and product skill set as the company grows and requires a larger IT environment and infrastructure to support the business.</li>
	</ul>
	<p>The role is a permanent role and would suit a candidate who is looking to work for an organisation that values and rewards their employee's contribution and loyalty. The average tenure of employees that work for this organisation is over 7 years, therefore they are looking for a candidate that can demonstrate long term employment with one organisation.</p>
	<p>This client is interviewing next week, as they would like to have someone start ASAP, so if you are ready for a new challenge apply today!</p>
	<p>Please note that only short listed candidates will be contacted.</p>
	<button id="apply-btn" class="btn btn-primary btn-lg" >Apply now</button>
</div>
