<form id="signupForm" action="/careers/" method="POST">
	<h3>Application</h3>
	{% include 'partials/personal-details.html' %}

	<h4>Tell us a little about yourself</h4>
	<div class="group">
		<div class="field">
			<label for="why-work">Why do you want to work for Mercury Group</label>
			<textarea id="why-work" class="form-control" name="why-work" rows="8" ></textarea>
		</div>
		<div class="field">
			<label for="history">Relevant work history</label>
			<textarea id="history" class="form-control" name="history" rows="8" ></textarea>
		</div>
	</div>

	<h4>Which best describes how you prefer to work</h4>
	<p>I prefer to:</p>
	<ul class="radio-group">
		<li>
			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			<label for="optionsRadios1">Work alone</label>
		</li>
		<li>
			<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			<label for="optionsRadios2">Work with a mix of both teams and alone</label>
		</li>
		<li>
			<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" >
			<label for="optionsRadios3">Work with a team</label>
		</li>
	</ul>

	<h4>Would you describe yourself as ambitious?</h4>
	<ul class="radio-group">
		<li>
			<input type="radio" name="optionsRadiosAmbitiousYes" id="optionsRadiosYes" value="option1" checked>
			<label for="optionsRadiosYes">Yes</label>
		</li>
		<li>
			<input type="radio" name="optionsRadiosAmbitiousNo" id="optionsRadiosNo" value="option2">
			<label for="optionsRadiosNo">No</label>
		</li>
	</ul>

	<h4>If you were an animal what would you be?</h4>
	<textarea id="animal" class="form-control" name="animal" cols="45" rows="8" ></textarea>

	<h4>Upload resume</h4>
	<p class="help-block">Please upload resumes in PDF format</p>
	<input type="file" name="resumefile" id="resumeFile" accept=".pdf">

	<h4>Submit</h4>
	<ul class="radio-group">
		<li>
			<input id="futureContact" type="checkbox" required>
			<label for="futureContact">I am happy to be contacted by Mercury Group about future employment opportunities*</label>
		</li>
	</ul>

	<!--Use JS to determine timezone or use a map based selector-->
	<input id="tz" class="hiddeninput" type="hidden" name="tz">

	<div class="button-group">
		<button id="submit" class="btn btn-primary btn-lg" type="submit" value="Continue">Submit</button>
	</div>

	<p id="tel-invalid" class="hide val">Invalid phone number</p>
	<p id="email-exists" class="hide val">Email already registered</p>
	<p id="tel-exists" class="hide val">Phone already registered</p>
</form>
